# Amazon Web Scraping Using Python

In [1]:
# import libraries

from bs4 import BeautifulSoup
import requests
import smtplib # sending emails to ourselves
import time
import datetime

In [32]:
#connect the website

url = 'https://www.amazon.com/Data-Shirt-Analyst-Funny-T-Shirt/dp/B0BJGJBXTD/ref=sr_1_2?crid=KAJPF037HAQ0&dib=eyJ2IjoiMSJ9._VJx37ooceLPCJbeb7-8JAw9BZIHj18AfxBii_q0XuQl_W7Gz_olk5jdnsnCEgYYIqHs5nRWjXa1iYEaxwgTakeVZwcjb41JX3CVfoFt-__3D53T169H2lrSmosmIaawxKCzIpicUJg_0Mm7Wf14izfn5lnBr9DEVX2sItgE-_TxWFWEYEtxs9a03oOPecDRgSl5dbj0NPuuhyh9aXNyCFzZ3KC41pDNVvm3xd9eSgzlQr9HjmG7pIm4-CBOo7MxJCBSAI0j8KzhYUzzMGKE4v2HbHdjbrLN9Zu4ImMfXTY.iiQA3T74UXRfVOGWfiZRhDAqHHpD0NVDRs42pJg9kUg&dib_tag=se&keywords=data%2Banalyst%2Btshirt+got+data&qid=1758815871&sprefix=data+analyst+tshirts%2Caps%2C121&sr=8-2'

headers = {
    "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36",
    "Accept-Language": "en-US,en;q=0.9",
    "Accept-Encoding": "gzip, deflate, br",
}
page = requests.get(url, headers = headers)

soup1 = BeautifulSoup(page.text,'html.parser')

#print(soup1)

soup2 = BeautifulSoup(soup1.prettify(),'html.parser') #it just formats soup1

#print(soup2)

title_tag = soup2.find(id = 'productTitle')

title = title_tag.get_text(strip = True)

print(title)

price_tag = soup2.find('span',{'class':'a-price aok-align-center reinventPricePriceToPayMargin priceToPay'})

price = price_tag.get_text(strip = True)[1:]
print(price)

Got Data Shirt Got Data T Shirt Data Analyst Shirt Funny T-Shirt
14.99

In [36]:
date = datetime.date.today()

print(date)

2025-09-25

In [37]:
import csv

header = ['Title','Price','Date']
data = [title,price,date]


with open('Amazon Web Scracped Dataset.csv','w',newline = '',encoding = 'UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [47]:
import pandas as pd

df = pd.read_csv(r'/Users/rakshithagarrepelly/Desktop/Data Analysis Projects/Python files/Amazon Web Scracped Dataset.csv')

df

                                               Title  Price        Date
0  Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25
1  Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25
2  Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25
3  Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25
4  Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25

In [46]:
#Now we are appening data to the csv like a price tracker

with open('Amazon Web Scracped Dataset.csv','a+',newline = '',encoding = 'UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [54]:
def check_price():
    url = 'https://www.amazon.com/Data-Shirt-Analyst-Funny-T-Shirt/dp/B0BJGJBXTD/ref=sr_1_2?crid=KAJPF037HAQ0&dib=eyJ2IjoiMSJ9._VJx37ooceLPCJbeb7-8JAw9BZIHj18AfxBii_q0XuQl_W7Gz_olk5jdnsnCEgYYIqHs5nRWjXa1iYEaxwgTakeVZwcjb41JX3CVfoFt-__3D53T169H2lrSmosmIaawxKCzIpicUJg_0Mm7Wf14izfn5lnBr9DEVX2sItgE-_TxWFWEYEtxs9a03oOPecDRgSl5dbj0NPuuhyh9aXNyCFzZ3KC41pDNVvm3xd9eSgzlQr9HjmG7pIm4-CBOo7MxJCBSAI0j8KzhYUzzMGKE4v2HbHdjbrLN9Zu4ImMfXTY.iiQA3T74UXRfVOGWfiZRhDAqHHpD0NVDRs42pJg9kUg&dib_tag=se&keywords=data%2Banalyst%2Btshirt+got+data&qid=1758815871&sprefix=data+analyst+tshirts%2Caps%2C121&sr=8-2'

    headers = {
        "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36",
         "Accept-Language": "en-US,en;q=0.9",
         "Accept-Encoding": "gzip, deflate, br",
    }
    page = requests.get(url, headers = headers)

    soup1 = BeautifulSoup(page.text,'html.parser')

    #print(soup1)

    soup2 = BeautifulSoup(soup1.prettify(),'html.parser') #it just formats soup1

    #print(soup2)

    title_tag = soup2.find(id = 'productTitle')

    title = title_tag.get_text(strip = True)

    #print(title)

    price_tag = soup2.find('span',{'class':'a-price aok-align-center reinventPricePriceToPayMargin priceToPay'})

    price = price_tag.get_text(strip = True)[1:]
    print(price)

    date = datetime.date.today()

    #print(date)

    import csv

    header = ['Title','Price','Date']
    data = [title,price,date]

    with open('Amazon Web Scracped Dataset.csv','a+',newline = '',encoding = 'UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [55]:
while (True):
    check_price()
    time.sleep(86400)

14.99

KeyboardInterrupt:

In [56]:
import pandas as pd

df = pd.read_csv(r'/Users/rakshithagarrepelly/Desktop/Data Analysis Projects/Python files/Amazon Web Scracped Dataset.csv')

df

                                                Title  Price        Date
0   Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25
1   Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25
2   Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25
3   Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25
4   Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25
5   Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25
6   Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25
7   Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25
8   Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25
9   Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25
10  Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25
11  Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25
12  Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25
13  Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25
14  Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25
15  Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25
16  Got Data Shirt Got Data T Shirt Data Analyst S...  14.99  2025-09-25